git+ssh://git@hpbxgit.devintermedia.net/qa/dist/base_callfunc.git
git+ssh://git@hpbxgit.devintermedia.net/qa/dist/audio_functions.git
git+ssh://git@hpbxgit.devintermedia.net/qa/dist/blf_parser.git
git+ssh://git@hpbxgit.devintermedia.net/qa/dist/call_functions.git
git+ssh://git@hpbxgit.devintermedia.net/qa/dist/mailbox_functions.git
git+ssh://git@hpbxgit.devintermedia.net/qa/dist/mailcc.git
git+ssh://git@hpbxgit.devintermedia.net/qa/dist/mailer.git
git+ssh://git@hpbxgit.devintermedia.net/qa/dist/robert2.git
git+ssh://git@hpbxgit.devintermedia.net/qa/dist/sdplib.git
git+ssh://git@hpbxgit.devintermedia.net/qa/dist/siplib.git
git+ssh://git@hpbxgit.devintermedia.net/qa/dist/sipne.git
git+ssh://git@hpbxgit.devintermedia.net/qa/dist/waveproc.git
git+ssh://git@hpbxgit.devintermedia.net/qa/dist/hpbx_base.git
git+ssh://git@hpbxgit.devintermedia.net/qa/dist/step_manager.git
git+ssh://git@hpbxgit.devintermedia.net/qa/dist/mwi_parser.git
git+ssh://git@hpbxgit.devintermedia.net/qa/dist/sipde_client.git
git+ssh://git@hpbxgit.devintermedia.net/qa/dist/hpbx_dm.git
git+ssh://git@hpbxgit.devintermedia.net/qa/dist/unison_cp_client.git
git+ssh://git@hpbxgit.devintermedia.net/qa/dist/reactor.git
git+ssh://git@hpbxgit.devintermedia.net/qa/dist/anymeeting_client.git
git+ssh://git@hpbxgit.devintermedia.net/qa/dist/ips_client.git
git+ssh://git@hpbxgit.devintermedia.net/qa/dist/umsctl_client.git
git+ssh://git@hpbxgit.devintermedia.net/qa/dist/rmq_client.git

git+ssh://git@hpbxgit.devintermedia.net/qa/dist/pbxut.git
git+ssh://git@hpbxgit.devintermedia.net/qa/dist/pbxut_util.git
git+ssh://git@hpbxgit.devintermedia.net/qa/dist/testlink.git
git+ssh://git@hpbxgit.devintermedia.net/qa/dist/log_functions.git
git+ssh://git@hpbxgit.devintermedia.net/qa/dist/rpclient.git

git+ssh://git@hpbxgit.devintermedia.net/qa/dist/configparser2.git
git+ssh://git@hpbxgit.devintermedia.net/qa/dist/context.git
git+ssh://git@hpbxgit.devintermedia.net/qa/dist/pynetwork.git
