anymeeting-client = 0.2
audio-functions = 2.1
base-callfunc = 1.2
blf-parser = 1.2
call-functions = 7.6
configparser2 = 2.2
context = 1.4
future-comparators = 1.0.1
hpbx-base = 2.85
hpbx-dm = 7.36
ips-client = 4.14
ips-control = 1.24
log-functions = 1.0
mailbox-functions = 2.6
mailcc = 2.0
msg-util = 1.0.0
mwi-parser = 1.0
pbxut = 4.4
pbxut-plugin-alert-case = 1.0
pbxut-plugin-classic-reporter = 1.0.0
pbxut-plugin-context = 1.0.0
pbxut-plugin-context-reader = 1.0.2
pbxut-plugin-hpbx-version = 1.0.0
pbxut-plugin-mail-reporter = 1.1.0
pbxut-plugin-simple-filter = 1.0.0
pbxut-plugin-summary-case = 1.0.0
pbxut-plugin-testlink = 1.0.0
pbxut-plugin-verbose-reporter = 1.0.1
pbxut-util = 3.6.1
pynetwork = 2.2
pytz - latest
reactor = 3.0
rmq-client = 1.8
robert2 = 2.0
rpclient = 1.2
sdplib = 1.0
sipde-client = 2.4.1
siplib = 4.0
sipne = 3.5.1
soap-client = 1.1
step-manager = 2.12
testlink = 3.0
umsctl-client = 1.10
unison-cp-client = 1.22
waveproc = 2.11