<?xml version="1.0" encoding="utf-8" ?>

<pbxut version="4.0">

  <name>next_gen_tests</name>
  <version>1.20-SNAPSHOT</version>

  <!-- Plugins -->
  <plugins>

    <!-- Service case counter plugin -->
    <plugin id="SummaryCaseReporterPlugin" class="pbxut_plugin.summary_case.SummaryCaseReporterPlugin">
    </plugin>

    <plugin id="SimpleFilterPlugin" class="pbxut_plugin.simple_filter.SimpleFilterPlugin">
        <param name="filename" value="plan.txt" />
    </plugin>

    <!-- Context reader plugin -->
    <plugin id="ContextPlugun" class="pbxut_plugin.context.ContextPlugin">
      <param name="is_debug" value="Yes"/>
    </plugin>

    <!-- Color text reporter plugin -->
    <plugin id="ClassicReporterPlugin" class="pbxut_plugin.classic_reporter.ClassicReporterPlugin">
        <param name="type" value="xterm" />
    </plugin>

    <!-- Service verbose plugin -->
    <plugin id="VerboseReporterPlugin" class="pbxut_plugin.verbose_reporter.VerboseReporterPlugin">
    </plugin>

    <!-- Mail reporter plugin -->
    <plugin id="MailReporterPlugin" class="pbxut_plugin.mail_reporter.MailReporterPlugin">
       <param name="host" value="127.0.0.1" />
       <param name="port" value="25" />
       <param name="recipients" value="dgirdyuk@intermedia.net, ipetrov@intermedia.net, VoiceAppDevOPSTeam@intermedia.net" />
       <param name="template" value="resources/message.jinja2" />
       <param name="verbose" value="Yes" />
    </plugin>

  </plugins>
</pbxut>
