<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  
    <style>
    html, body {
        padding: 0px;
        margin: 0px;
    }

    div, span {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; /* sans-serif */
    }

    h1, h2, h3 {
        font-family: Georgia, "Times New Roman", Times, serif; /* serif */
    }

    code {
        font-family: Menlo, Monaco, Consolas, "Courier New", monospace; /* monospace */
    }

    .container {
    }

    .case {
        padding-left : 5px;
        padding-right: 5px;

        border-left  : 5px;
        border-right : 5px;

        border-top   : 0;
        border-bottom: 0;
        border-style : "solid";

        border-color : #C0C0C0;
    }

    .pbx-report-header {
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        white-space: nowrap;
    }

    .testcase-report {
        display: inline-block;
        margin: 0 20px;
    }

    .testcase-report .tab-count {
        display: inline-block;
        font-size: 40px;
    }

    .pbxut-report {
        padding-left: 10px;
        border-left: 3px solid gray;
    }

    .pbxut-header-PASSED {
        border-bottom: 3px solid green;
    }

    .pbxut-header-FAILED {
        border-bottom: 3px solid red;
    }

    .pbxut-header-UNSTABLE {
        border-bottom: 3px solid yellow;
    }

    .pbxut-header-BROKEN {
        border-bottom: 3px solid red;
    }
    
    .pbxut-report-PASSED {
        padding-left: 10px;
        border-left: 3px solid green;
    }

    .pbxut-report-FAILED {
        padding-left: 10px;
        border-left: 3px solid red;
    }

    .pbxut-report-ERROR {
        padding-left: 10px;
        border-left: 3px solid blue;
    }

    .pbxut-report-SKIPPED {
        padding-left: 10px;
        border-left: 3px solid yellow;
    }

    table {
        margin-bottom: 10px;
    }

    </style>

  </head>
  <body>

    <div class="container">

        <!-- Header: "Test report" -->
        <h1 class="pbxut-header-{{ case_resolution }}">Test report: {{ case_resolution }}</h1>

        <table class="report-header">
            <tbody>
                <tr>

{% if TEST_CASE_PASSED_COUNT is defined %}
                    <td class="testcase-report">
                        <span class="tab-count" style="color: green">{{ TEST_CASE_PASSED_COUNT }}</span>
                        <span class="tab-label">Passed</span>
                    </td>
{% endif %}

{% if TEST_CASE_FAILED_COUNT is defined %}
                    <td class="testcase-report">
                        <span class="tab-count" style="color: red">{{ TEST_CASE_FAILED_COUNT }}</span>
                        <span class="tab-label">Failed</span>
                    </td>
{% endif %}

{% if TEST_CASE_ERROR_COUNT is defined %}
        
                    <td class="testcase-report">
                        <span class="tab-count" style="color: blue">{{ TEST_CASE_ERROR_COUNT }}</span>
                        <span class="tab-label">Error</span>
                    </td>
{% endif %}

{% if TEST_CASE_SKIPPED_COUNT is defined %}
                    <td class="testcase-report">
                        <span class="tab-count" style="color: orange">{{ TEST_CASE_SKIPPED_COUNT }}</span>
                        <span class="tab-label">Skip</span>
                    </td>
{% endif %}

{% if TEST_CASE_ALERT_COUNT is defined %}
                    <td class="testcase-report">
                        <span class="tab-count" style="color: pink">{{ TEST_CASE_ALERT_COUNT }}</span>
                        <span class="tab-label">Alerts</span>
                    </td>
{% endif %}

                </tr>
            </tbody>
        </table>

{% if reporters is defined %}
      <h2>Reporters</h2>

  {% for reporter in reporters %}
      <h3>Reporter {{ reporter.name }}</h3>

    {% if reporter.metrics is defined %}
      <h4>Custom metrics</h4>

      <table class="status">
      {% for metric in reporter.metrics %}
      <tr>
        <td>{{ metric.name }}</td>
        <td>{{ metric.value }}</td>
      </tr>
      {% endfor %}
      </table>
    {% endif %}

    {% if reporter.__html__ is defined %}
      <div>{{ reporter|e }}</div>
    {% endif %}

  {% endfor %}

{% endif %}

    </div>

  </body>
</html>
